# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment / Environment Variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
src/asr_models/vosk/vosk-model-en-us-0.22/README
src/asr_models/vosk/vosk-model-en-us-0.22/am/final.mdl
src/asr_models/vosk/vosk-model-en-us-0.22/am/tree
src/asr_models/vosk/vosk-model-en-us-0.22/conf/ivector.conf
src/asr_models/vosk/vosk-model-en-us-0.22/conf/mfcc.conf
src/asr_models/vosk/vosk-model-en-us-0.22/conf/model.conf
src/asr_models/vosk/vosk-model-en-us-0.22/graph/disambig_tid.int
src/asr_models/vosk/vosk-model-en-us-0.22/graph/HCLG.fst
src/asr_models/vosk/vosk-model-en-us-0.22/graph/num_pdfs
src/asr_models/vosk/vosk-model-en-us-0.22/graph/phones.txt
src/asr_models/vosk/vosk-model-en-us-0.22/graph/words.txt
src/asr_models/vosk/vosk-model-en-us-0.22/graph/phones/align_lexicon.int
src/asr_models/vosk/vosk-model-en-us-0.22/graph/phones/align_lexicon.txt
src/asr_models/vosk/vosk-model-en-us-0.22/graph/phones/disambig.int
src/asr_models/vosk/vosk-model-en-us-0.22/graph/phones/disambig.txt
src/asr_models/vosk/vosk-model-en-us-0.22/graph/phones/optional_silence.csl
src/asr_models/vosk/vosk-model-en-us-0.22/graph/phones/optional_silence.int
src/asr_models/vosk/vosk-model-en-us-0.22/graph/phones/optional_silence.txt
src/asr_models/vosk/vosk-model-en-us-0.22/graph/phones/silence.csl
src/asr_models/vosk/vosk-model-en-us-0.22/graph/phones/word_boundary.int
src/asr_models/vosk/vosk-model-en-us-0.22/graph/phones/word_boundary.txt
src/asr_models/vosk/vosk-model-en-us-0.22/ivector/final.dubm
src/asr_models/vosk/vosk-model-en-us-0.22/ivector/final.ie
src/asr_models/vosk/vosk-model-en-us-0.22/ivector/final.mat
src/asr_models/vosk/vosk-model-en-us-0.22/ivector/global_cmvn.stats
src/asr_models/vosk/vosk-model-en-us-0.22/ivector/online_cmvn.conf
src/asr_models/vosk/vosk-model-en-us-0.22/ivector/splice.conf
src/asr_models/vosk/vosk-model-en-us-0.22/rescore/G.carpa
src/asr_models/vosk/vosk-model-en-us-0.22/rescore/G.fst
src/asr_models/vosk/vosk-model-en-us-0.22/rnnlm/feat_embedding.final.mat
src/asr_models/vosk/vosk-model-en-us-0.22/rnnlm/final.raw
src/asr_models/vosk/vosk-model-en-us-0.22/rnnlm/special_symbol_opts.conf
src/asr_models/vosk/vosk-model-en-us-0.22/rnnlm/special_symbol_opts.txt
src/asr_models/vosk/vosk-model-en-us-0.22/rnnlm/word_feats.txt
src/asr_utils/__pycache__/audio_utils.cpython-312.pyc
src/asr_utils/__pycache__/base_transcriber.cpython-312.pyc
src/.env

# New code
BACKLOG.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
